
table{
    align:center;
    height:30%;
    width:100%;
    border: 5px solid #04AA6D;
    border-style: solid;
    margin: auto;
    border-radius: 15px;
    background: #fff;
    padding: 20px;
    font-family: Helvetica;
    text-align:center;
}

tr, th {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    color:black;
    }
tr:hover {
    background-color: #87CEFA;
}


button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 15%;
    border-radius:10px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(220%, 530%);
    position: fixed;
}  
input{    
    display:inline;
    background-color:#04AA6D;
    border:none;
    border-radius:5px;
    font-size:15px;
}
form{
    width:300px; 
    display:inline;
}
input[name=edit]{
    background-color: #EE4B2B;
}
input[name=delete] {
    background-color: #04AA6D;
}
